{% extends 'base.html' %}

{% block title %}Password reset complete{% endblock title %}

{% block content %}
    <div class="container mt-5 pt-5 align-center">
        <div class="col-6 mx-auto mt-5 mb-5 align-center">
            <h1 class="my-5">Password reset complete</h1>
            <p>Your new password has been set.</p>
            <p>You can log in now on the 
                <a href="{% url 'login' %}">Log In page</a>
            </p>            
        </div>
    </div>
{% endblock content %}