{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Enter new password{% endblock title %}

{% block content %}
    <div class="container mt-5 pt-5 align-center">
        <div class="col-6 mx-auto mt-5 mb-5 align-center">
            <h1 class="my-5">Set a new password</h1>
            <form method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <br>
                <input type="submit" class="btn btn-success" value="Change my password">
            </form>
        </div>
    </div>
{% endblock content %}