{% extends 'base.html' %}
{% load static %}


{% block content %}


  <main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background">
      <div class="container position-relative">
        <h1>Blogs</h1>
        <p>Your daily source for insightful blogs and the latest news, where every story connects, inspires, and informs.</p>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li class="current">Blogs</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Blog Posts Section -->
    <section id="blog-posts" class="blog-posts section">

        <div class="container">
            <div class="row gy-4">
                {% if post_list %}

                    {% for post in post_list %}
                        <div class="col-lg-4">
                            <article>

                              <div class="post-img">
                                <img src="{{ post.photo.url }}" alt="" class="img-fluid">
                              </div>

                              <p class="post-category">Politics</p>

                              <h2 class="title">
                                <a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a>
                              </h2>

                              <div class="d-flex align-items-center">
                                <img src="{{ post.author.photo.url }}" alt="" class="img-fluid post-author-img flex-shrink-0">
                                  <div class="post-meta">
                                      <a class="post-author" href="{% url 'user_profile' post.author.id %}">
                                          {{ post.author }}
                                      </a>
                                  <p class="post-date">
                                    <time datetime="2022-01-01">{{ post.date }}</time>
                                  </p>
                                </div>
                              </div>

                            </article>
                      </div><!-- End post list item -->
                    {% endfor %}
                {% else %}
                    <h2 class="my-2">There are no available posts</h2>
                {% endif %}

        </div>
      </div>

    </section><!-- /Blog Posts Section -->

  {% include 'pagination.html' %}

  </main>

{% endblock content %}
